__pycache__
.venv
.vscode
.pytest_cache
.ruff_cache
.env

# Ignore all files in datasets, except examples
datasets/*
!datasets/teste.fasta
!datasets/entrez_nucleotide_COIGene AND 600650SLEN_n20.fasta
!datasets/synthetic_n10_L20_noise0.1_ACTG.fasta
!datasets/synthetic_n20_L50_noise0.1_01.fasta
!datasets/synthetic_n20_L50_noise0.1_ACTG.fasta
!datasets/synthetic_n30_L100_noise0.1_ACTG.fasta

outputs/*

# Ignore all files in batches, except examples
batches/*
!batches/TEMPLATE_PADRONIZADO.yaml
!batches/otimizacao_padrao.yaml
!batches/processamento_padrao.yaml
!batches/sensibilidade_padrao.yaml
