__pycache__
.venv
.vscode
.pytest_cache
.ruff_cache

saved_datasets/*
!saved_datasets/entrez_nucleotide_COIGene AND 600650SLEN_n20.fasta
!saved_datasets/synthetic_n10_L20_noise0.1.fasta
!saved_datasets/synthetic_n20_L50_noise0.1.fasta
!saved_datasets/synthetic_n30_L100_noise0.1.fasta
!saved_datasets/teste.fasta

outputs/logs/*
outputs/reports/*

# Ignorar todos os arquivos em batch_configs, exceto os exemplos
batch_configs/*
!batch_configs/otimizacao_exemplo.yaml
!batch_configs/processamento_exemplo.yaml
!batch_configs/sensibilidade_exemplo.yaml
